* {
	margin: 0;
	padding: 0;
}

body {
	background: #b9b7b7;
}

table {
	 width: 450px;
	 margin: 100px auto;
	 background: #ffffff;
	border-collapse: collapse;
}

td {
	width: 50px;
	height: 50px;
}

.border-bottom-right {
	border-bottom: 8px solid black;
	border-right: 8px solid black;
}

.border-bottom-left {
	border-bottom: 8px solid black;
	border-left: 8px solid black;
}

.border-top-right {
	border-top: 8px solid black;
	border-right: 8px solid black;
	
}

.border-bottom-right-left {
	border-bottom: 8px solid black;
	border-right: 8px solid black;
	border-left: 8px solid black;
}

.border-top-bottom-right {
	border-top: 8px solid black;
	border-bottom: 8px solid black;
	border-right: 8px solid black;	
}

.border-top-bottom-left {
	border-top: 8px solid black;
	border-bottom: 8px solid black;
	border-left: 8px solid black;	
}

.border-top-bottom-right-left {
	border-top: 8px solid black;
	border-bottom: 8px solid black;
	border-right: 8px solid black;
	border-left: 8px solid black;	
}

.yellow {
	background: #fff967;
}

.blue {
	background: #054380;
}

.black {
	background: #18241f;
}

.red {
	background: #ff5a33;
}















