* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 450px;
	font-family: Tahoma, Arial;
	font-size: 14px;
}

td {
	height: 40px;
}

.wrapper-outer-box {
	margin-top: 50px;
	margin-left: 5%;
	width: 70%;
	min-width: 375px;
	max-width: 960px;
	height: 385px;
	border: 1px solid #bfbfbf;
}

.wrapper-inner-box {
	width: 96%;
	margin: 10px;
	border: 1px solid blue;
	border-radius: 5px;
}

.box-menu-tab {
	width: 97%;
	height: 30px;
	margin-left: 3px;
	margin-top: 3px;
	padding-left: 5px;
	background: linear-gradient(to bottom, #e2e2e2, #cccccc);
	border: 1px solid blue;
	border-radius: 5px;
}

.menu-tab__item {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	height: 24px;
	line-height: 24px;
	margin-right: 20px;
	list-style: none;
	border-bottom: 1px solid #aaaaaa;*/
	border: 1px solid blue;
	border-radius: 5px 5px 0 0;
	background: linear-gradient(to bottom, #eeeeee, #f1f1f1);
}

.menu-tab__item:hover
 {
	background: #e2e2e2;
	border-top: 1px solid blue;
	border-right: 1px solid blue;
	border-left: 1px solid blue;
	cursor: pointer;
}

.menu-tab__link {
	text-decoration: none;
}

.tab1-text,
.tab2-text,
.tab3-text  {
	display: none;
	margin: 20px;
}

.tab-default {
	background: #ffffff;
}

.tab-visited {
	background: #ffffff;
	border-top: 1px solid blue;
	border-right: 1px solid blue;
	border-left: 1px solid blue;
	border-bottom: 1px solid #ffffff;
}

.tab-unvisited {
	background: #eeeeee;
	border: 1px solid #d3d3d3;
	border-bottom: 1px solid blue;
}

input[type="text"] {
	margin-left: 20px;
}

input[type="text"]:focus {
	border: 1px solid blue;
	background: #eeeeee;
}

input[type="button"] {
	margin-top: 10px;
	margin-left: 5%;
	border: 1px solid grey;
	width: 100px;
	height: 30px;
}

input[type="button"]:hover {
	cursor: pointer;
	border: 1px solid blue;
	/*font-weight: bold;*/
}

#tooltips_firstname,
#tooltips_lastname,
#tooltips_address {
	display: none;
	width: 205px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 3px;
	border: 2px solid grey;
	border-radius: 5px;
}

.fields-text {
	margin-top: 40px;
	margin-left: 20px;
}

.box-input {
	margin-left: 5%;
	margin-top: 50px;
	width: 70%;
	min-width: 375px;
	border: 1px solid grey;
	border-radius: 5px;
}

@media (max-width: 725px) {

.tab3-text {
	height: 287px;
	overflow: hidden;
	}

#tooltips_firstname,
#tooltips_lastname,
#tooltips_address {
	width: 85%;
	margin-left: 5px;
	font-size: 10px;
}

}
