@font-face {
	font-family: 'Geosans Light';
	src: url('../fonts/GeosansLight/GeosansLight.eot');
	src: url('../fonts/GeosansLight/GeosansLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GeosansLight/GeosansLight.woff') format('woff'),
		url('../GeosansLight/fonts/GeosansLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

.wrapper {
	position: relative;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

/*CSS styles for 1-st slide */

.pixelfresh-logo {
	position: absolute;
	bottom: 48%;
	right: 0;
	left: 0;
	width: 718px;
	height: 156px;
	transform: scale(1,1);
	margin: 0 auto;
	border-radius: 80px;
	background-color: rgba(0, 0, 0, 0.25);
}

.pixelfresh-logo__image {
	position: absolute;
	top: 15px;
	left: 17px;
}

.pixelfresh-logo__image-text {
	position: absolute;
    top: 26px;
    left: 163px;
	background: url('../img/pixelfresh/pixelfresh__title.png') no-repeat;
	background-size: 100%;
	width: 460px;
	height: 97px;
}

.pixelfresh__text-box {
	position: absolute;
	bottom: 27%;
	right: 0;
	left: 0;
}

.pixelfresh-text {
	text-align: center;
	font-family: "Geosans Light";
	font-size: 42px;
	text-transform: none;
	color: #ffffff;
	letter-spacing: 2px;
}

.pixelfresh-first-line {
	margin-top: 109px;
	margin-left: 5px;
}

.pixelfresh-second-line {
	margin-top: 5px;
}

.pixelfresh-image {
	display: block;
	position: absolute;
	bottom: 7.5%;;
	right: 4.5%;
}

/* CSS styles for page 2-nd slide and 3-rd slide
   Abbreviation:
   oobgp - Out of brake grand pris,
   oob - Out of brake */

.oobgp-logo__image-text,
.oob-logo__image-text {
	left: -2000px;
	-webkit-transition: 0.5s linear;
}

.oobgp-logo__image-text2,
.oob-logo__image-text2 {
	left: 2000px;
	-webkit-transition: 1s linear;
}

.oobgp-logo__image-text--active,
.oob-logo__image-text--active {
	position: absolute;
	z-index: 5;
	top: 28px;
	left: 5px;
	background: url('../img/pixelfresh/oobgpp_title_1.png') no-repeat;
	background-size: 100%;
	width: 307px;
	height: 56px;
}

.oobgp-logo__image-text2--active {
	position: absolute;
	z-index: 5;
	top: 106px;
    left: 28px;
	background: url('../img/pixelfresh/oobgpp_title_2.png') no-repeat;
	background-size: 100%;
    width: 460px;
    height: 126px;
}

.oob-logo__image-text2--active {
	position: absolute;
	z-index: 5;
	top: 106px;
    left: 28px;
	background: url('../img/pixelfresh/oob_title_2.png') no-repeat;
	background-size: 100%;
    width: 460px;
    height: 126px;
}

.oobgp-logo,
.oob-logo {
	position: absolute;
	top: 7%;
	left: 2%;
}

.oobgp-logo-inner-wrapper,
.oob-logo-inner-wrapper  {
	position: relative;
	text-align: center;
}

.oobgp-logo__text-box,
.oob-logo__text-box {
	position: absolute;
	top: 116px;
	left: 512px;
	z-index: 5;
}

.oobgp-text-box {
	position: absolute;
	margin: auto;
	bottom: 9.5%;
	line-height: 1.2;
	left: 0;
	right: 0;
}

.oob-text-box {
	position: absolute;
	margin: auto;
	bottom: 14.5%;
	line-height: 1.2;
	left: 0;
	right: 0;
}

.oobgp-text,
.oob-text {
	font-family: "Geosans Light";
	font-size: 42px;
	text-transform: none;
	color: #ffffff;
}

.game-link {
	text-transform: none;
	color: #ffd862;
}

.footer {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

.footer-text {
	line-height: 1.25;
	font-family: "Geosans Light";
	font-size: 24px;
	text-transform: none;
	color: #ffffff;
}

.footer-text--first-line {
	margin-bottom: 5px;
}

.e-mail-link {
	text-transform: none;
	color: #ffd862;
}

@media screen and (max-width: 1060px) {

.oobgp-logo__image,
.oob-logo__image {
	width: 100%;
}

.oobgp-logo__image-text--active,
.oob-logo__image-text--active {
	top: 20px;
	width: 225px;
	height: 42px;
}

.oobgp-logo__image-text2--active,
.oob-logo__image-text2--active {
    top: 83px;
    left: 24px;
    width: 340px;
    height: 96px;
}

.oobgp-logo__text-box,
.oob-logo__text-box {
    top: 125px;
    left: 515px;
}

.oobgp-text,
.oob-text {
	font-size: 30px;
}

}

@media screen and (max-width: 980px) {

#fp-nav {
	margin-top: 60px !important;
}
	
.pixelfresh-image {
	width: 150px;
}

.oobgp-logo,
.oob-logo {
	width: 600px;
	margin: auto;
	top: 19%;
	left: 5%;
	right: 5%;
}

.oobgp-logo__image-text--active,
.oob-logo__image-text--active {
    top: 16px;
    left: 0px;
    width: 192px;
    height: 42px;
}

.oobgp-logo__image-text2--active,
.oob-logo__image-text2--active {
	top: 61px;
    left: 12px;
    width: 306px;
    height: 84px;
}

.oobgp-logo__text-box,
.oob-logo__text-box {
	top: 77px;
	left: 359px;
}

.oobgp-text-box {
	bottom: 21%;
}

.oob-text-box {
	bottom: 25%;
}

}

@media screen and (max-width: 768px) {

#fp-nav {
	margin-top: -43.5px !important;
}

.pixelfresh-logo {
	bottom: 55%;
	width: 475px;
	height: 100px;
}

.pixelfresh-logo__image {
	width: 80px;
	top: 10px;
	left: 10px;
}

.pixelfresh-logo__image-text {
    top: 17px;
    left: 116px;
    width: 294px;
    height: 65px;
}

.pixelfresh-text {
	font-size: 35px;
}

.oobgp-logo__image-text--active,
.oob-logo__image-text--active {
    top: 13px;
    left: 0px;
    width: 160px;
    height: 30px;
}

.oobgp-logo__image-text2--active,
.oob-logo__image-text2--active {
    top: 49px;
    left: 11px;
    width: 269px;
    height: 84px;
}

.oobgp-logo,
.oob-logo {
	width: 450px;
	margin: auto;
	top: 19%;
	left: 0%;
	right: 5%;
}

.oobgp-logo__text-box,
.oob-logo__text-box {
	top: 61px;
	left: 270px;
	}

.oobgp-text-box {
	bottom: 21%;
}

.oob-text-box {
	bottom: 27%;
}

}

@media screen and (max-width: 600px) {

.oobgp-logo__text-box,
.oob-logo__text-box {
	top: 63px;
	left: 268px;
}

.oobgp-logo__image-text--active,
.oob-logo__image-text--active {
    top: 11px;
    left: 0px;
    width: 132px;
    height: 25px;
}

.oobgp-logo__image-text2--active,
.oob-logo__image-text2--active {
    top: 41px;
    left: 11px;
    width: 220px;
    height: 61px;
}

.oobgp-text-box {
	bottom: 24%;
	font-size: 25px;
}

.footer {
	bottom: 20px;
}

}

@media screen and (max-width: 480px) {

.pixelfresh__text-box {
	bottom: 30%;
}

#fp-nav {
	right: 5px !important;
}

.pixelfresh-logo {
	width: 310px;
	height: 70px;
}

.pixelfresh-logo__image {
	width: 60px;
	top: 5px;
	left: 5px;
}

.pixelfresh-logo__image-text {
    top: 16px;
    left: 81px;
    width: 170px;
    height: 36px;
}

.pixelfresh-text {
	padding: 0 20px;
	font-size: 25px;
}

.oobgp-logo__image-text--active,
.oob-logo__image-text--active {
    top: 5px;
    left: 0px;
    width: 74px;
    height: 14px;
}

.oobgp-logo__image-text2--active,
.oob-logo__image-text2--active {
    top: 21px;
    left: 6px;
    width: 126px;
    height: 35px;
}

.oobgp-logo,
.oob-logo {
	width: 300px;
	top: 19%;
}

.oobgp-logo__text-box,
.oob-logo__text-box {
	top: 44px;
	left: 180px;
}

.oobgp-text-box,
.oob-text-box {
	bottom: 32%;	
}

.oobgp-text,
.oob-text {
	font-size: 20px;
}

.footer {
	bottom: 20px;
}

.footer-text {
	font-size: 16px;
}

.footer-text--first-line {
	margin-bottom: 3px;
}

}

@media screen and (max-width: 360px) {

#fp-nav {
	right: 2px !important;
}

.pixelfresh__text-box {
	bottom: 37%;
}

.pixelfresh-text {
	font-size: 23px;
}

.oobgp-logo,
.oob-logo {
	width: 250px;
	top: 19%;
}

.oobgp-logo__text-box,
.oob-logo__text-box  {
	top: 37px;
	left: 148px;
}

.oobgp-text-box,
.oob-text-box {
	bottom: 30%;
}

.oobgp-text,
.oob-text {
	font-size: 16px;
}

.footer {
	bottom: 15px;
}

.footer-text {
	font-size: 15px;
}

}

@media screen and (max-width: 320px) {

#fp-nav {
	visibility: hidden;
}

.pixelfresh-logo {
	bottom: 62%;
}

.pixelfresh__text-box {
	bottom: 35%;
}

.oobgp-logo__image-text--active {
    top: 5px;
    left: 0px;
    width: 74px;
    height: 14px;
}

.oobgp-logo__image-text2--active {
    top: 21px;
    left: 6px;
    width: 126px;
    height: 35px;
}

.oobgp-logo,
.oob-logo {
	left: 0;
	right: 10%;
}

.oobgp-text,
.oob-text {
	font-size: 14px;
}

.footer {
	bottom: 10px;
}

.footer-text {
	font-size: 12px;
}

.footer-text--first-line {
	margin-bottom: 2px;
}

}