ul {
    margin-left: 50px;
}

.image-output {
    width: 150px;
    padding: 20px;
}

.output-items {
    list-style: none;
    font-family: Arial;
    font-size: 24px;
}

.search-logo-position {
    margin-top: 200px;
    text-align: center;
}

.word-image,
.word-gif,
.letter-1,
.letter-2,
.letter-3,
.letter-4,
.letter-5,
.letter-6 {
    font-size: 80px;
    font-weight: bold;
}

.word-image {
     color: green;
}

.word-gif {
    color: red;
}

.letter-1,
.letter-4 {
    color: blue;
}

.letter-2,
.letter-6 {
    color: red;
}

.letter-3 {
    color: orange;
}

.letter-5 {
    color: green;
}