<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomeWork 13-14</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="js/tmpl.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <script type="text/template" id="output-test">
        <div class="output-wrapper">
            <h1 class="test-header">Тест по программированию</h1>
            <p class="text-under-header">(правильных ответов может быть несколько)</p>
            <form action="">
                <% for (var i =  0; i < data.length; i++) { %>      
                    <p class="content-output"><%= data[i].questionTitle %></p>                      
                    <% for (var j =  0; j < data[i].questionText.length; j++) { %>
                        <div class="checkbox-postion">
                            <input type="checkbox" class="question-answer" id="<%= 'checkbox_' + i + '_' + j %>">
                            <label class="label-for-question" for="<%= 'checkbox_' + i + '_' + j %>">
                            <%= (i + 1) + '.'+ (j + 1) + '  ' + data[i].questionText[j] %>
                            </label>
                        </div>
                    <% }; %>                
                <% }; %>
                <div class="button-refer-position">
                    <input class="button-refer" type="button" value="Проверить">
                </div>
            </form>
        </div>      
    </script>           
    <div class="modal-window">
        <div class="modal-window__wrapper">
            <p class='modal-window__title'>Результаты теста:</p>
            <div class="modal-window__result-here"></div>
        </div>              
    </div>
</body>
</html>