@import 'variables';

.wrapper {
	min-width: 320px;
	margin: 0 auto;
}

/* HEADER */

.header {
	width: 100%;
	height: 540px;
	margin: 0 auto;
	background: url(../img/background_big.jpg) top center no-repeat;
	
	&__wrapper {
		max-width: 940px;
		margin: 0 auto;
		overflow: hidden;
	}

	&__links-pos {
		text-align: center;
		overflow: hidden;
	}

	&__link-log-in {
		display: inline-block;
		text-align: center;
		padding-top: 32px;
		font-family: $fontMontserratB;
		font-size: 14px;
		text-decoration: none;
		color: #ffffff;
	}

	&__link-log-in:hover,
	&__link-sign-up:hover,
	&__link-text-up:hover {
		color: #ff4e50;
		transition: .5s;
		cursor: pointer;
	}

	&__text-sign-up {
		display: inline-block;
		margin-top: 20px;
		margin-left: 19px;
		width: 86px;
		height: 32px;
		border: 2px solid #ffffff;
		border-radius: 20px;
	}

	&__text-sign-up:hover {
		border: 2px solid #ff4e50;
	}

	&__link-sign-up {
		display: block;
		text-align: center;
		margin-top: 10px;
		font-family: $fontMontserratB;
		font-size: 14px;
		text-decoration: none;
		color: #ffffff;
	}

	&__title-top {
		padding-top: 117px;
		text-align: center;
		font-family: $fontMontserratB;
		font-size: 20px;
		letter-spacing: 0.7px;
		color: #ffffff;
	}

	&__title-central-1,
	&__title-central-2 {				
		text-align: center;
		font-family: $fontMontserratB;
		font-size: 30px;
		text-transform: uppercase;
		color: #ffffff;
	}

	&__title-central-1--modified {
		padding-top: 33px;
	}

	&__title-central-2--modified {
		padding-top: 5px;
	}

	&__title-bottom {
		padding-top: 13px;
		line-height: 1.2;
		text-align: center;
		font-family: $fontRobotoL;
		font-size: 18px;
		color: #ffffff;

		&-first {
			padding-left: 0px;
		}

		&-second {
			display: block;
		}
	}

	&__button {
		display: block;
		margin: 17px auto 0;
		width: 280px;
		height: 40px;
		border: none;
		border-radius: 20px;
		font-family: $fontMontserratB;
		font-size: 14px;
		background: #ff4e50;
		color: #ffffff;
		cursor: pointer;
	}

	&__button:hover {
		background: #ff7173;
		color: #ffffff;
		border: 1px solid #ff4e50;
		transition: .5s;
	}
}

/* SLIDER */

.slider {
	overflow: hidden;
	height: 815px;
	margin: 0 auto;

	&__header {
		margin-top: 35px;
		margin-left: 4px;
		margin-bottom: 18px;
		text-align: center;
		font-family: $fontMontserratB;
		font-size: 22px;
		color: #333333;
		}

	&__box {
		display: block;		
		margin-top: 16px;
		text-align: center;
		}

	&__box-position {
		position: relative;
		margin: 0 auto;
		width: 300px;
	}

	&__box-context {
		position: absolute;
		z-index: 10;
		top: 69px;
		left: 24px;
	}

	&__box-context2 {
		position: absolute;
		z-index: 10;
		top: 99px;
		left: 24px;
	}

	&__box-context-button {
		display: block;
		margin-bottom: 20px;
		width: 70px;
		height: 20px;
		line-height: 20px;
		letter-spacing: 2px;
		border: none;
		border-radius: 20px;
		font-family: $fontMontserratR;
		font-size: 10px;
		background: #ff4e50;
		color: #ffffff;
		cursor: pointer;
	}

	&__box-context-button:hover {
		background: #ff7173;
		color: #ffffff;
		border: 1px solid #ff4e50;
		transition: .5s;

	}

	&__box-context-header-first,
	&__box-context-header-second {
		text-align: left;
		font-family: $fontMontserratB;
		font-size: 24px;
		color: #ffffff;
	}

	&__box-context-header-first {
		margin-top: -2px;
	}

	&__box-context-header-second {
		margin-top: 4px;
	}

	&__box-context-text {
		margin-top: 15px;
		line-height: 1.15;
		text-align: left;
		width: 260px;
		height: 45px;
		font-family: $fontRobotoL;
		font-size: 14px;
		color: #cccccc;
	}

	&__image {
		display: block;
		border-radius: 5px;
		margin: 10px auto;		
	}

	&__image:first-child {
		margin-top: 0;
	}
}

.jcarousel1,
.jcarousel2,
.jcarousel3 {
	display: none;
}



/* PARTNERS */

.partners {

	&__header {
		text-align: center;
		margin-top: 36px;
		margin-bottom: 20px;
	}

	&__header-first,
	&__header-second {
		font-family: $fontMontserratB;
		font-size: 22px;
		color: #333333;
	}

	&__header-second {
		display: block;
		margin-top: 3px;
	}

	&__image-box {
		display: block;
		margin-bottom: 30px;
		text-align: center;
	}

	&__image-box-name {
		margin-top: 16px;
		margin-left: 3px;
		font-family: $fontMontserratR;
		font-size: 14px;
		color: #333333;
	}

	&__image-box-description {
		margin: 15px auto 0;
		width: 200px;
		font-family: $fontRobotoL;
		font-size: 14px;
		line-height: 1.2;
		color: #666666;
	}

	&__image-box-avatar-position {
		position: relative;
		margin: 0 auto;
		width: 121px;
	}

	&__image-box-avatar {
		margin-top: -2px;
		margin-left: 4px;
	}

	&__image-box-sign {
		position: absolute;
		top: 82px;
		right: -7px;
	}

	&__button-position {
		width: 300px;
		margin: 0 auto;
	}

	&__button {
		display: block;
		margin: -7px auto 0;
		text-align: center;
		height: 39px;
		width: 280px;
		font-family: $fontMontserratB;
		font-size: 14px;
		color: #ff4e50;
		background: #ffffff;
		border-radius: 20px;
		border: 2px solid #ff4e50;
		cursor: pointer;
	}

	&__button:hover {
		color: #ffffff;
		background: #ff4e50;
		transition: .5s;
	}
}

/* DISCOVER */

.discover {
	margin-top: 38px;

	&__header {
		margin-bottom: 18px;
	}

	&__header-first-part,
	&__header-second-part {
		text-align: center;
				display: block;
		/*margin: 0 auto;*/
		font-family: $fontMontserratB;
		font-size: 22px;
		color: #333333;
	}

	&__header-second-part {
		display: block;
		margin-top: 2px;
		margin-left: 2px;
	}

	&__boxes {
	overflow: hidden;
	max-width: 100%;
	margin: 0 auto;
	padding-bottom: 28px;
	}

	&__box {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 93%; 
	height: 120px;
	margin-bottom: 10px;
	color: #ffffff;
	}

	&__box-text {
	top: 41%;
	text-align: center; 
	width: 100%;	
	position: absolute;
	font-family: $fontMontserratB;
	font-size: 22px;
	}

}

#discover__box-text3 {
	top: 34px;
	left: 2%;
	line-height: 1.1;
}

.discover__box:nth-child(1) {
	background: url('../img/ideas_image_default_1.jpg')  top center no-repeat;
	background-size: cover;
}

.discover__box:nth-child(2) {
	background: url('../img/ideas_image_default_2.jpg')  top center no-repeat;
	background-size: cover;
}

.discover__box:nth-child(3) {
	background: url('../img/ideas_image_default_3.jpg')  top center no-repeat; 
	background-size: cover;
}

.discover__box:nth-child(4) {
	background: url('../img/ideas_image_default_4.jpg')  top center no-repeat;
	background-size: cover;
}

.discover__box:nth-child(5) {
	background: url('../img/ideas_image_default_5.jpg')  top center no-repeat;
	background-size: cover;
}

.discover__box:nth-child(6) {
	background: url('../img/ideas_image_default_6.jpg')  top center no-repeat;
	background-size: cover;
}

.discover__box:nth-child(7) {
	background: url('../img/ideas_image_default_7.jpg')  top center no-repeat;
	background-size: cover;
}

/* OUT RESULT OF IMAGE SEARCH*/

.out-results {
	/*max-width: 320px;*/
	max-width: 100%;
	margin: 0 auto;

	&__wrapper {
		overflow: hidden;
		width: 100%;
		padding-bottom: 28px;
	}

	&__box0, 
	&__box1,
	&__box2,
	&__box3,
	&__box4,
	&__box5,
	&__box6 {
		overflow: hidden;
		margin: 0 auto;
		width: 93%; 
		height: 120px;
		padding-bottom: 10px;
	}

	&__image0,
	&__image1,
	&__image2,
	&__image3,
	&__image4,
	&__image5,
	&__image6 {
		width: 100%;
		height: 120px;

	}

}

/* SEARCH FORM FOR IMAGES */

.search-form {
	display: block;
	width: auto;
	margin: 0 auto;

	&__header {
		text-align: center;
		padding-bottom: 20px;
		font-family: $fontRobotoL;
		font-size: 18px;
		color: #333333;
	}

	&__input {
		display: block;
		margin: -2px auto 0;
		padding-left: 2px;
		width: 278px;
		height: 38px;
		border: 1px solid #cccccc;
		border-radius: 3px;
	}

	&__submit {
		display: block;
		margin: 10px auto 0;
		text-align: center;
		height: 39px;
		width: 280px;
		font-family: $fontMontserratB;
		font-size: 14px;
		color: #ffffff;
		background: #ff4e50;
		border-radius: 20px;
		border: 2px solid #ff4e50;
		cursor: pointer;
	}

	&__submit:hover {
		color: #ffffff;
		background: #ff7173;
		transition: .5s;
	}

}


input[placeholder]          {padding-left: 15px; color: #999999; font-family: $fontRobotoL; font-size: 14px;}
input:-moz-placeholder     {padding-left: 15px; color: #999999; font-family: $fontRobotoL; font-size: 14px;}
input:-moz-placeholder      {padding-left: 15px; color: #999999; font-family: $fontRobotoL; font-size: 14px;}
input:-ms-input-placeholder {padding-left: 15px; color: #999999; font-family: $fontRobotoL; font-size: 14px;} 

input[placeholder]:focus {
	border: 1px solid #ff4e50;
}

/* FOOTER */

.footer {
	margin-top: 40px;
	border-top: 4px solid #ff4e50;

	&__wrapper {
		max-width: 940px;
		margin: 0 auto;
		overflow: hidden;
	}

	&__header {
		display: block;
		width: 136px;
		margin: 17px auto;
		font-family: $fontMontserratB;
		font-size: 16px;
		color: #ff4e50;
	}

	&__company {
		text-align: center;
	}

	&__company-link,
	&__partners-link {
		font-family: $fontMontserratB;
		font-size: 14px;
		color: #333333;
		text-decoration: none;
	}

	&__company-link:hover,
	&__partners-link:hover {
		text-decoration: underline;
	}

	&__company-menu {
		width: 200px;
		overflow: hidden;
		margin: 4px auto 0;
	}

	&__company-menu-item {
			float: left;
			padding-right: 15px;
			list-style: none;
	}

	&__company-menu-item:last-child {
		padding-right: 0;
	}

	&__company-menu-link {
			font-family: $fontRobotoL;
			font-size: 14px;
			text-decoration: none;
			color: #666666;
	}

	&__company-menu-link:hover {
		text-decoration: underline;
		color: #333333;
	}

	&__partners {
		margin-top: 17px;
		text-align: center;
	}

	&__designed {
		margin-top: 14px;
		text-align: center;

	}

	&__designed-link {
  		font-family: $fontMontserratB;
  		font-size: 10px;
  		color: #cccccc;
  		text-decoration: none;
	}
	
	&__designed-image {
		margin-top: 10px;
		margin-bottom: 20px;
	}	
}


/* MEDIA QUAERIES MAX-WIDTH 768PX */

@media screen and (min-width: 768px) {

.header {
	/*max-width: 940px;*/
	height: 700px;
	text-align: left;

	&__wrapper {
		max-width: 940px;
		margin: 0 auto;
		overflow: hidden;
	}

	&__links-pos {
		display: block;
		padding-top: 18px;
		padding-right: 6.5%;
		float: right;
		text-align: right;
	}

	&__link-log-in {
		padding-left: 0px;
	}
	
	&__title-top {
		padding-top: 49px;
		padding-left: 6.5%;
		text-align: left;
		float: left;
	}

	&__title-central-1 {
		padding-top: 0px;
		font-size: 52px;
	}

	&__title-central-1--modified {
		padding-top: 222px;
		margin-left: -5px;
	}

	&__title-central-2 {
		font-size: 52px;
	}

	&__title-central-2--modified {
		padding-top: 10px;
		margin-left: -5px;
	}

	&__title-bottom {
		margin-left: -6px;
		padding-top: 28px;
		line-height: 1.2;
		text-align: center;
		font-family: $fontRobotoL;
		font-size: 24px;
		color: #ffffff;

		&-first {
			padding-left: 0px;
		}

		&-second {
			display: inline-block;
			padding-left: 3px;
		}
	}

	&__button {
		 margin: 34px auto 0; 
		width: 226px;
	}
}

/* SLIDER */

.slider {
	height: 555px;

	&__header {
		margin-top: 96px;
		margin-left: 5px;
	}

	&__box {
		display: none;		
	}

	&__box-context {
		top: 211px;
	}

	&__box-context2 {
		position: absolute;
		z-index: 10;
		top: 258px;
		left: 21px;

		.slider__box-context-text {
			margin-top: 13px;
			margin-left: -2px;
		}
	}

	&__box-context-header-first,
	&__box-context-header-second {
		text-align: left;
		font-family: $fontMontserratB;
		font-size: 24px;
		color: #ffffff;
	}

	&__box-context-header-first {
		margin-top: -2px;
		margin-left: -2px;
	}

	&__box-context-header-second {
		margin-top: 4px;
		margin-left: -2px;
	}

	&__box-context-text {
		margin-left: -4px;
		text-align: left;
		width: 200px;
	}
}


.jcarousel-wrapper-position {
	margin-top: 37px;
	text-align: center;
	overflow: hidden;
}

.jcarousel-wrapper {
	display: inline-block;
	width: 235px;
	overflow: hidden;
	text-align: center;
    position: relative;
}

#jcarousel1 {
	margin-right: 20px;
}

.jcarousel-wrapper:last-child {
	margin-left: 20px;
}

.jcarousel1,
.jcarousel2,
.jcarousel3 {
	display: block;
    overflow: hidden;
    width: 300px;
}

.jcarousel1 ul,
.jcarousel2 ul,
.jcarousel3 ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel1 li,
.jcarousel2 li,
.jcarousel3 li {
    float: left;
    width: 300px;
    margin-left: -30px;
}

.jcarousel1 li img,
.jcarousel2 li img,
.jcarousel3 li img {
    width: 100%;
    height: 400px;    
}

.jcarousel-prev1,
.jcarousel-prev2,
.jcarousel-prev3
{
    position: absolute;
    top: 40px;
    left: 23px;
    background: url(../img/arrows_sprite.png) 0 0 no-repeat;
    width: 30px;
    height: 55px;
    display: inline-block;
    cursor: pointer;
}

.jcarousel-next1,
.jcarousel-next2,
.jcarousel-next3
{
    position: absolute;
    top: 40px;
    right: 9px;
    background: url(../img/arrows_sprite.png) -30px 0px no-repeat;
    width: 40px;
    height: 55px;
    display: inline-block;
    cursor: pointer;
}

#carousel-prev2{
	left: 10px;
}

#carousel-next2 {
	right: 2px;
}

#carousel-prev3 {
	left: 18px;
}

#carousel-next3 {
	right: 14px;
}

/* PARTNERS */

.partners {
	text-align: center;

	&__header {
		margin-top: 94px;
	}

	&__header-second {
		display: inline-block;
	}

	&__boxes-position {
		display: block;
		width: 470px;
		margin: 37px auto 0;
	}

	&__first-box,
	&__second-box {
		display: block;
		float: left;
	}

	&__second-box {
		margin-left: 60px;
	}

	&__image-box:nth-child(1) {
		margin-bottom: 60px;
	}

	&__button {

		margin: 0;
		margin-top: 567px;
		margin-left: 53px;
		width: 194px;
	}
}

/* DISCOVER */

.discover {
	margin-top: 100px;

	&__header {
		margin-bottom: 18px;
		text-align: center;
	}

	&__header-first-part,
	&__header-second-part {
		display: inline-block;
	}

	&__header-second-part {
		display: inline-block;
		margin-top: 0px;
		margin-left: 0px;
	}

	&__box-text {
		top: 48%;
	}

	&__boxes {
		max-width: 768px;
		margin: 32px auto 48px;
	}

	&__box {
		height: 310px;
		margin-bottom: 20px;
	}
}

#discover__box-text3 {
	top: 144px;
}

.discover__box:nth-child(1),
.discover__box:nth-child(2),
.discover__box:nth-child(3) {
	display: inline-block;
	width: 30.5%; 
	height: 310px;
}

.discover__box:nth-child(1) {
	margin-left: 10px;
}

.discover__box:nth-child(2),
.discover__box:nth-child(3) {
	margin-left: 17px;
}

.discover__box:nth-child(4){
	display: block;
	float: left;
	margin-left: 10px;
	width: 30%;
	height: 310px;
}

.discover__box:nth-child(5) {
	display: inline-block;
	float: left;
	margin-left: 20px;
	width: 64%;
	height: 310px;
}

.discover__box:nth-child(6) {
	display: block;
	float: left;
	margin-left: 10px;
	width: 64%;
	height: 310px;
}

.discover__box:nth-child(7) {
	display: inline-block;
	float: left;
	margin-left: 20px;
	width: 30%;
	height: 310px;
}

/* OUT RESULT OF IMAGE SEARCH*/

.out-results {
	max-width: 768px;
	margin: 0 auto;

	&__wrapper {
		padding-bottom: 0px;
		margin-top: 34px;
		margin-bottom: 95px;
	}

	&__box0, 
	&__box1,
	&__box2 {
		display: inline-block;
		width: 31%; 
		height: 310px;
		padding-bottom: 20px;
	}

	&__box0 {
		margin-left: 10px;
	}

	&__box1,
	&__box2 {
		margin-left: 20px;
	}

	&__box3 {
		display: block;
		float: left;
		margin-left: 10px;
		width: 31%;
		height: 310px;
	}

	&__box4 {
		display: inline-block;
		float: left;
		margin-left: 20px;
		width: 64%;
		height: 310px;
	}

	&__box5 {
		display: block;
		float: left;
		margin-left: 10px;
		width: 64%;
		height: 310px;
	}

	&__box6 {
		display: inline-block;
		float: left;
		margin-left: 20px;
		width: 31%;
		height: 310px;
	}

	&__image0,
	&__image1,
	&__image2,
	&__image3,
	&__image4,
	&__image5,
	&__image6 {
		width: 100%;
		height: 310px;
	}
}

/* SEARCH FORM FOR IMAGES */

.search-form {
	width: auto;
	overflow: hidden;
	text-align: center;

	&__header {
		margin-top: 17px;
		padding-bottom: 40px;
	}

	&__input {
		display: inline-block;
		margin: -2px auto 0;
		padding-left: 2px;
		width: 240px;
		height: 38px;
		border: 1px solid #cccccc;
		border-radius: 3px;
	}

	&__submit {
		width: 160px;
		height: 38px;
		margin: 0;
		margin-left: 10px;
	}

	&__input-box,
	&__submit {
		display: inline-block;
	}
}

/* FOOTER */

.footer {
	margin-top: 102px;
	margin-bottom: 45px;

	&__wrapper {
		max-width: 940px;
			margin: 0 auto;
		overflow: hidden;
	}

	&__header {
		float: left;
		width: 136px;
		margin: 0;
		margin-top: 38px;
		margin-left: 42px;
	}

	&__company {
		float: left;
		text-align: left;
		margin-top: 40px;
		margin-left: 11.5%;
	}

	&__company-menu {
		margin: 0;
		margin-top: 11px;
		margin-bottom: 45px;
	}

	&__company-menu-item {
			float: none;
			padding-top: 9px;
	}

	&__company-menu-item:first-child {
		padding-top: 0;
	}

	&__company-menu-link {
			font-family: $fontRobotoL;
			font-size: 14px;
			text-decoration: none;
			color: #666666;
		}
	&__partners {
		float: left;
		margin-top: 38px;
		margin-left: -3.5%;
		text-align: left;
	}

	&__designed {
		float: left;
		margin-top: 38px;
		margin-left: 15.5%;
		text-align: left;
	}

	&__designed-text {
		letter-spacing: 1.1px;
		margin-left: 30px;
	}
	
	&__designed-image {
		margin-top: 10px;
		margin-bottom: 20px;
	}	
}

}

/* MEDIA QUAERIES MAX-WIDTH 940PX */

@media screen and (min-width: 940px) {

.header {
	max-width: 100%;
	height: 702px;

	&__wrapper {
		max-width: 940px;
		margin: 0 auto;
		overflow: hidden;
	}
	
	&__links-pos {
		padding-right: 0;
	}

	&__title-top {
		padding-left: 0;
	}

	&__title-bottom {
		margin-left: -3px;

		&-first {
			padding-left: 0px;
		}

		&-second {
			display: inline-block;
			padding-left: 0;
			margin-left: 3px;
		}
	}

}

.slider {
	overflow: hidden;
	width: 940px;
	height: 560px;
	margin: 0 auto;

		&__box-context {
			top: 226px;
			left: 22px;
		}

		&__header {
			margin-top: 97px;
			margin-left: -10px;
		}
}


.jcarousel-wrapper {
	width: 300px;
}

.jcarousel1 li,
.jcarousel2 li,
.jcarousel3 li {
    margin-left: 0px;
}

#jcarousel1 {
	margin-right: 15px;
}

.jcarousel-wrapper:last-child {
	margin-left: 15px;
}

.jcarousel-prev1,
.jcarousel-prev2,
.jcarousel-prev3
{
    top: 151px;
    left: 20px;
}

.jcarousel-next1,
.jcarousel-next2,
.jcarousel-next3
{
    top: 151px;
    right: 15px;
}

#carousel-prev2{
	left: 19px;
}

#carousel-next2 {
	right: 13px;
}

#carousel-prev3 {
	left: 20px;
}

#carousel-next3 {
	right: 14px;
}

/* PARTNERS */

.partners {
	text-align: center;

	&__header {
		margin-top: 88px;
	}

	&__header-second {
		display: inline-block;
	}

	&__boxes-position {
		display: block;
		width: 940px;
	}

	&__first-box,
	&__second-box {
		display: block;
		float: none;
	}

	&__second-box {
		margin-left: 0px;
	}

	&__image-box:nth-child(1) {
		margin-bottom: 0px;
	}

	&__image-box {
		display: block;
		float: left;
		margin-bottom: 30px;
		text-align: center;
	}

	&__button {
		margin-top: 308px;
	}	
}

#partners__image-box-2,
#partners__image-box-3,
#partners__image-box-4 {
	margin-left: 42px;
}

/* DISCOVER */

.discover {
	margin-top: 100px;

	&__header {
		margin-top: 0px;
		margin-left: -5px;
		margin-bottom: 34px;
		text-align: center;
	}

	&__header-first-part,
	&__header-second-part {
		display: inline-block;
	}

	&__header-second-part {
		display: inline-block;
		margin-top: 0px;
		margin-left: 0px;
	}

	&__boxes {
		max-width: 940px;
		margin: 0 auto 47px;
	}

	&__box {
		height: 310px;
		margin-bottom: 20px;
	}
}

.discover__box:nth-child(1),
.discover__box:nth-child(2),
.discover__box:nth-child(3) {
	width: 31%; 
}

.discover__box:nth-child(4){
	margin-left: 10px;
	width: 31%;
}

.discover__box:nth-child(5) {
	width: 65%;
}

.discover__box:nth-child(6) {
	width: 65%;
}

.discover__box:nth-child(7) {
	width: 31%;
}

/* OUT RESULT OF IMAGE SEARCH*/

.out-results {
	max-width: 940px;
	margin: 0 auto;

	&__box0, 
	&__box1,
	&__box2 {
		display: inline-block;
		width: 31.5%; 
		height: 310px;
		padding-bottom: 20px;
	}

	&__box0 {
		margin-left: 10px;
	}

	&__box1,
	&__box2 {
		margin-left: 20px;
	}

	&__box3 {
		display: block;
		float: left;
		margin-left: 10px;
		width: 31.5%;
		height: 310px;
	}

	&__box4 {
		display: inline-block;
		float: left;
		margin-left: 20px;
		width: 64.5%;
		height: 310px;
	}


	&__box5 {
		display: block;
		float: left;
		margin-left: 10px;
		width: 64.5%;
		height: 310px;
	}

	&__box6 {
		display: inline-block;
		float: left;
		margin-left: 20px;
		width: 31.5%;
		height: 310px;
	}

	&__image0,
	&__image1,
	&__image2,
	&__image3,
	&__image4,
	&__image5,
	&__image6 {
		width: 100%;
		height: 310px;
	}
}

/* SEARCH FORM FOR IMAGES */

.search-form__header {
	margin-top: 2px;
}

/* FOOTER */

.footer {
	margin-top: 100px;
	margin-bottom: 45px;

	&__wrapper {
		max-width: 940px;
			margin: 0 auto;
		overflow: hidden;
	}

	&__header {
		margin-left: 0px;
	}

	&__company {
		margin-left: 11%;
	}


	&__partners {
		margin-left: -4.5%;
	}

	&__designed {
		float: right;
		margin-top: 34px;
	}	
}

}