@import 'variables';

.wrapper {
	min-width: 320px;
	/*width: 768px;*/
	margin: 0 auto;
}

/* HEADER */

.header {
	width: 100%;
	/*max-width: 320px;*/
	height: 540px;
	/*text-align: center;*/
	margin: 0 auto;
	background: url(../img/background_big.jpg) top center no-repeat;
	/*background-size: 100%;*/
	/* background: url(../img/background_big.jpg) top center  no-repeat; */

	&__links-pos {
		/*display: block;*/
		/*margin: 0 auto;*/
		text-align: center;
		overflow: hidden;
		/*border: 1px solid red;*/
	}

	&__link-log-in {
		display: inline-block;
		/*margin: 0 auto;*/
		text-align: center;
		/*float: left;*/
		/*padding-left: 83px;*/
		padding-top: 32px;
		font-family: $fontMontserratB;
		font-size: 14px;
		text-decoration: none;
		color: #ffffff;
	}

	&__text-sign-up {
		display: inline-block;
		margin-top: 20px;
		margin-left: 19px;
		/*float: left;*/
		width: 86px;
		height: 32px;
		border: 2px solid #ffffff;
		border-radius: 20px;
	}

	&__link-sign-up {
		display: block;
		text-align: center;
		margin-top: 10px;
		font-family: $fontMontserratB;
		font-size: 14px;
		text-decoration: none;
		color: #ffffff;
	}

	&__title-top {
		padding-top: 117px;
		text-align: center;
		font-family: $fontMontserratB;
		font-size: 20px;
		letter-spacing: 0.7px;
		color: #ffffff;
	}

	&__title-central-1,
	&__title-central-2 {				
		text-align: center;
		font-family: $fontMontserratB;
		font-size: 30px;
		text-transform: uppercase;
		color: #ffffff;
	}

	&__title-central-1--modified {
		padding-top: 33px;
	}

	&__title-central-2--modified {
		padding-top: 5px;
	}


	&__title-bottom {
		padding-top: 13px;
		line-height: 1.2;
		text-align: center;
		font-family: $fontRobotoL;
		font-size: 18px;
		color: #ffffff;

		&-first {
			padding-left: 0px;
		}

		&-second {
			display: block;
		}
	}

	&__button {
		display: block;
		margin: 17px auto 0;
		width: 280px;
		height: 40px;
		border: none;
		border-radius: 20px;
		font-family: $fontMontserratB;
		font-size: 14px;
		background: #ff4e50;
		color: #ffffff;
		cursor: pointer;
	}
}

/* SLIDER */

.slider {
	overflow: hidden;
	/*width: 768px;*/
	height: 815px;
	/*height: 893px;*/
	margin: 0 auto;
	/*border: 1px solid red;*/

	&__header {
		/*margin-top: 37px;*/
		margin-top: 35px;
		margin-left: 4px;
		margin-bottom: 18px;
		text-align: center;
		font-family: $fontMontserratB;
		font-size: 22px;
		color: #333333;
		}

	&__box {

		display: block;

		
		/*margin-left: -200px;*/
		margin-top: 16px;
		text-align: center;
		}

		&__box-position {
			position: relative;
			margin: 0 auto;
			width: 300px;

			/*border: 1px solid red;*/
		}

		&__box-context {
			position: absolute;
			z-index: 10;
			top: 69px;
			left: 24px;
			/*border: 1px solid yellow;*/
		}

		&__box-context2 {
			position: absolute;
			z-index: 10;
			top: 99px;
			left: 24px;

		}

		&__box-context-button {
			display: block;
			margin-bottom: 20px;
			/*margin: 17px auto 0;*/
			width: 70px;
			height: 20px;
			line-height: 20px;
			letter-spacing: 2px;
			border: none;
			border-radius: 20px;
			font-family: $fontMontserratR;
			font-size: 10px;
			background: #ff4e50;
			color: #ffffff;
			cursor: pointer;
		}

		&__box-context-header-first,
		&__box-context-header-second {
			text-align: left;
			font-family: $fontMontserratB;
			font-size: 24px;
			color: #ffffff;
		}

		&__box-context-header-first {
			margin-top: -2px;
		}

		&__box-context-header-second {
			margin-top: 4px;
		}

		&__box-context-text {
			margin-top: 15px;
			line-height: 1.15;
			text-align: left;
			width: 260px;
			height: 45px;
			font-family: $fontRobotoL;
			font-size: 14px;
			color: #cccccc;
		}



/*	&__box-inner {
		width: 300px;
		margin: 10px auto;	
		text-align: center;
		overflow: hidden;
		height: 240px;
		border-radius: 5px;
	}*/

/*	&__box-inner:first-child {
		margin-top: 0;
	}*/

	&__image {
		display: block;
		border-radius: 5px;
		/*text-align: center;*/
		margin: 10px auto;		
	}
	&__image:first-child {
		margin-top: 0;
	}





/*.jcarousel1 .slider__box-context, 
.jcarousel2 .slider__box-context,
.jcarousel2 .slider__box-context2,
.jcarousel3 .slider__box-context {
	display: none;
}*/

}

.jcarousel1,
.jcarousel2,
.jcarousel3 {
	display: none;
}



/* PARTNER */

.partners {

	&__header {
		text-align: center;
		margin-top: 36px;
		margin-bottom: 20px;
	}

	&__header-first,
	&__header-second {
		font-family: $fontMontserratB;
		font-size: 22px;
		color: #333333;
	}

	&__header-first {
		/*margin-top: -3px;*/
	}

	&__header-second {
		display: block;
		margin-top: 3px;
	}

	&__image-box {
		/*position: relative;*/
		display: block;
		margin-bottom: 30px;
		text-align: center;
	}

	&__image-box-name {
		margin-top: 16px;
		margin-left: 3px;
		font-family: $fontMontserratR;
		font-size: 14px;
		color: #333333;
	}

	&__image-box-description {
		margin: 15px auto 0;
		width: 200px;
		font-family: $fontRobotoL;
		font-size: 14px;
		line-height: 1.2;
		color: #666666;
	}

	&__image-box-avatar-position {
		position: relative;
		margin: 0 auto;
		width: 121px;
	}

	&__image-box-avatar {
		margin-top: -2px;
		margin-left: 4px;
	}

	&__image-box-sign {
		position: absolute;
		top: 82px;
		right: -7px;
	}

	&__button-position {
		width: 300px;
		margin: 0 auto;
	}

	&__button {
		display: block;
		margin: -7px auto 0;
		text-align: center;
		height: 39px;
		width: 280px;
		font-family: $fontMontserratB;
		font-size: 14px;
		color: #ff4e50;
		background: #ffffff;
		border-radius: 20px;
		border: 2px solid #ff4e50;
		cursor: pointer;
	}


}


.discover {
	margin-top: 38px;

	&__header {
		margin-bottom: 18px;
	}

	&__header-first-part,
	&__header-second-part {
		text-align: center;
				display: block;
		/*margin: 0 auto;*/
		font-family: $fontMontserratB;
		font-size: 22px;
		color: #333333;
	}

	&__header-second-part {
		display: block;
		margin-top: 2px;
		margin-left: 2px;
	}

}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }














/* MEDIA QUAERIES MAX-WIDTH 768PX */

@media screen and (min-width: 768px) {

/*			.jcarousel1 .slider__box-context, 
.jcarousel2 .slider__box-context,
.jcarousel2 .slider__box-context2,
.jcarousel3 .slider__box-context {
	display: block;
}*/

	.header {
		max-width: 940px;
		height: 700px;
		margin: 0 auto;
		text-align: left;
		background: url(../img/background_big.jpg) top center no-repeat;

	&__links-pos {
		display: block;
		padding-top: 18px;
		padding-right: 6.5%;
		float: right;
		text-align: right;
	}

	&__link-log-in {
		padding-left: 0px;
	}
	
	&__title-top {
		padding-top: 49px;
		padding-left: 6.5%;
		text-align: left;
		float: left;
	}

	&__title-central-1 {
		padding-top: 0px;
		font-size: 52px;
	}

	&__title-central-1--modified {
		padding-top: 222px;
		margin-left: -5px;
	}

	&__title-central-2 {
		font-size: 52px;
	}

	&__title-central-2--modified {
		padding-top: 10px;
		margin-left: -5px;
	}

	&__title-bottom {
		margin-left: -6px;
		padding-top: 28px;
		line-height: 1.2;
		text-align: center;
		font-family: $fontRobotoL;
		font-size: 24px;
		color: #ffffff;

		&-first {
			padding-left: 0px;
		}

		&-second {
			display: inline-block;
			padding-left: 3px;
		}
	}

	&__button {
		 margin: 34px auto 0; 
/*		margin-top: 10px;
		margin-left: -5px;*/
		width: 226px;
	}

	}






.slider {
	/*height: 650px;*/
	height: 555px;

	&__header {
		margin-top: 96px;
		margin-left: 5px;

		}


	&__box {
		display: none;		
		}



	&__box-context {
/*			position: absolute;
		z-index: 10;*/
		top: 211px;
/*			left: 24px;*/
		/*border: 1px solid yellow;*/
		}

	&__box-context2 {
			position: absolute;
			z-index: 10;
			top: 258px;
			left: 21px;

				.slider__box-context-text {
					margin-top: 13px;
					margin-left: -2px;
				}

		}

/*		&__box-context-button {
			display: block;
			margin-bottom: 20px;
			width: 70px;
			height: 20px;
			line-height: 20px;
			letter-spacing: 2px;
			border: none;
			border-radius: 20px;
			font-family: $fontMontserratR;
			font-size: 10px;
			background: #ff4e50;
			color: #ffffff;
			cursor: pointer;
		}*/

		&__box-context-header-first,
		&__box-context-header-second {
			text-align: left;
			font-family: $fontMontserratB;
			font-size: 24px;
			color: #ffffff;
		}

		&__box-context-header-first {
			margin-top: -2px;
			margin-left: -2px;
		}

		&__box-context-header-second {
			margin-top: 4px;
			margin-left: -2px;
		}

		&__box-context-text {
/*			margin-top: 15px;*/
			margin-left: -4px;
/*			line-height: 1.15;
			text-align: left;*/
			width: 200px;
/*			height: 45px;
			font-family: $fontRobotoL;
			font-size: 14px;
			color: #cccccc;*/
		}






	}




.jcarousel-wrapper-position {
	margin-top: 37px;
	text-align: center;
	/*border: 1px solid green;*/
	overflow: hidden;
}



.jcarousel-wrapper {
			display: inline-block;



		width: 235px;
		overflow: hidden;

	/*margin: 0 auto;*/
	text-align: center;


    position: relative;
        /*width: 90%;*/
        /*float: left;*/
        /*margin-left: 20px;*/
        /*overflow: hidden;*/
    /*margin: 25px auto;*/
    /*border: 5px solid #ffffff;*/
    /*box-shadow: 0 0 2px #120d51;*/
    /*border-radius: 10px;*/
}

#jcarousel1 {
margin-right: 20px;
}

.jcarousel-wrapper:last-child {
	    margin-left: 20px;
}





.jcarousel1,
.jcarousel2,
.jcarousel3 {
		display: block;
    /*position: relative;*/
    overflow: hidden;
    /*margin: 0 auto;*/
    /*width: 100%;*/
    width: 300px;	
    /*width: 235px;*/

}

.jcarousel1 ul,
.jcarousel2 ul,
.jcarousel3 ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel1 li,
.jcarousel2 li,
.jcarousel3 li {
    float: left;
    width: 300px;
    margin-left: -30px;			/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    /*width: 235px;*/

}

.jcarousel1 li img,
.jcarousel2 li img,
.jcarousel3 li img {
    width: 100%;
    height: 400px;    
}

.jcarousel-prev1,
.jcarousel-prev2,
.jcarousel-prev3
{
    position: absolute;
    top: 40px;
    left: 23px;
    /*background: url(../img/colomnsprite.png) 0 0 no-repeat;*/
    background: url(../img/arrows_sprite.png) 0 0 no-repeat;
    /*background-size: 35px;*/
    width: 30px;
    height: 55px;
    display: inline-block;
    cursor: pointer;
}

.jcarousel-next1,
.jcarousel-next2,
.jcarousel-next3
{
    position: absolute;
    top: 40px;
    right: 9px;
    background: url(../img/arrows_sprite.png) -30px 0px no-repeat;
    /*background-size: 35px;*/
    width: 40px;
    height: 55px;
    display: inline-block;
    cursor: pointer;
}

#carousel-prev2{
	left: 10px;
}

#carousel-next2 {
	right: 2px;
}

#carousel-prev3 {
	left: 18px;
}

#carousel-next3 {
	right: 14px;
}







.partners {
	text-align: center;

	&__header {
		margin-top: 94px;
	}

	&__header-second {
		display: inline-block;
	}

	&__boxes-position {
		display: block;
		width: 470px;
		margin: 37px auto 0;
	}

	&__first-box,
	&__second-box {
		display: block;
		float: left;
	}

	&__second-box {
		margin-left: 60px;
	}

	&__image-box:nth-child(1) {
		margin-bottom: 60px;
	}

/*	&__button-position {
		width: 300px;
		margin: 0 auto;
	}
*/
	&__button {
		display: block;
		margin: 0;
		margin-top: 567px;
		margin-left: 53px;
		/*text-align: center;*/
		height: 39px;
		width: 194px;
		font-family: $fontMontserratB;
		font-size: 14px;
		color: #ff4e50;
		background: #ffffff;
		border-radius: 20px;
		border: 2px solid #ff4e50;
		cursor: pointer;
	}

}

.discover {
	margin-top: 100px;

	&__header {
		margin-bottom: 18px;
		text-align: center;
	}

	&__header-first-part,
	&__header-second-part {
		display: inline-block;
	}

	&__header-second-part {
		display: inline-block;
		margin-top: 0px;
		margin-left: 0px;
	}

}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }




}

/* MEDIA QUAERIES MAX-WIDTH 940PX */

@media screen and (min-width: 940px) {

	.header {
		max-width: 100%;
		height: 702px;
	
	&__links-pos {
		padding-right: 11%;
	}

	&__title-top {
		padding-left: 11%;
	}

	&__title-bottom {
		margin-left: -3px;

		&-first {
			padding-left: 0px;
		}

		&-second {
			display: inline-block;
			padding-left: 0;
			margin-left: 3px;
		}
	}

	}

	.slider {
	overflow: hidden;
	width: 940px;
	height: 560px;
	margin: 0 auto;

		&__box-context {
			top: 226px;
			left: 22px;
		}
	}




	.slider__header {
		margin-top: 97px;
		margin-left: -10px;
	}




.jcarousel-wrapper-position {

	/*border: 1px solid green;*/

}


.jcarousel-wrapper {
	/*display: inline-block;*/
	width: 300px;
/*	overflow: hidden;
	text-align: center;
    position: relative;*/


}

.jcarousel1 li,
.jcarousel2 li,
.jcarousel3 li {
    margin-left: 0px;			/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


}

#jcarousel1 {
margin-right: 15px;
}

.jcarousel-wrapper:last-child {
	    margin-left: 15px;
}


.jcarousel-prev1,
.jcarousel-prev2,
.jcarousel-prev3
{
    position: absolute;
    top: 151px;
    left: 20px;
    /*background: url(../img/colomnsprite.png) 0 0 no-repeat;*/
    background: url(../img/arrows_sprite.png) 0 0 no-repeat;
    /*background-size: 35px;*/
    width: 30px;
    height: 55px;
    display: inline-block;
    cursor: pointer;
}

.jcarousel-next1,
.jcarousel-next2,
.jcarousel-next3
{
    position: absolute;
    top: 151px;
    right: 15px;
    background: url(../img/arrows_sprite.png) -30px 0px no-repeat;
    /*background-size: 35px;*/
    width: 40px;
    height: 55px;
    display: inline-block;
    cursor: pointer;
}

#carousel-prev2{
	left: 19px;
}

#carousel-next2 {
	right: 13px;
}

#carousel-prev3 {
	left: 20px;
}

#carousel-next3 {
	right: 14px;
}





.partners {
	text-align: center;

	&__header {
		margin-top: 88px;
	}

	&__header-second {
		display: inline-block;
	}

	&__boxes-position {
		display: block;
		width: 940px;
		/*overflow: hidden;*/
		/*margin: 37px auto 0;*/
		/*text-align: center;*/
		/*border: 1px solid green;*/
	}

/*	&__boxes-position-center {
		border: 1px solid yellow;
		display: block;
		margin: 0 auto;
		overflow: hidden;
	}*/

	&__first-box,
	&__second-box {
		display: block;
		float: none;
	}

	&__second-box {
		margin-left: 0px;
	}

	&__image-box:nth-child(1) {
		margin-bottom: 0px;
	}

	&__image-box {
		/*position: relative;*/
		display: block;
		float: left;
		margin-bottom: 30px;
		text-align: center;
	}

	&__button {
		margin-top: 308px;

	}

	
}

#partners__image-box-2,
#partners__image-box-3,
#partners__image-box-4 {
	margin-left: 42px;

}


.discover {
	margin-top: 100px;

	&__header {
		margin-top: 0px;
		margin-left: -5px;
		margin-bottom: 18px;
		text-align: center;
	}

	&__header-first-part,
	&__header-second-part {
		display: inline-block;
	}

	&__header-second-part {
		display: inline-block;
		margin-top: 0px;
		margin-left: 0px;
	}

}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }



}

