/* FONTS */
@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/montserrat-bold/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold/montserrat-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat Regular';
  src: url("../fonts/montserrat-regular/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular/montserrat-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/roboto-light/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light/roboto-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.wrapper {
  min-width: 320px;
  margin: 0 auto; }

/* HEADER */
.header {
  width: 100%;
  height: 540px;
  margin: 0 auto;
  background: url(../img/background_big.jpg) top center no-repeat; }
  .header__wrapper {
    max-width: 940px;
    margin: 0 auto;
    overflow: hidden; }
  .header__links-pos {
    text-align: center;
    overflow: hidden; }
  .header__link-log-in {
    display: inline-block;
    text-align: center;
    padding-top: 32px;
    font-family: "Montserrat Bold";
    font-size: 14px;
    text-decoration: none;
    color: #ffffff; }
  .header__link-log-in:hover, .header__link-sign-up:hover, .header__link-text-up:hover {
    color: #ff4e50;
    transition: .5s;
    cursor: pointer; }
  .header__text-sign-up {
    display: inline-block;
    margin-top: 20px;
    margin-left: 19px;
    width: 86px;
    height: 32px;
    border: 2px solid #ffffff;
    border-radius: 20px; }
  .header__text-sign-up:hover {
    border: 2px solid #ff4e50; }
  .header__link-sign-up {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-family: "Montserrat Bold";
    font-size: 14px;
    text-decoration: none;
    color: #ffffff; }
  .header__title-top {
    padding-top: 117px;
    text-align: center;
    font-family: "Montserrat Bold";
    font-size: 20px;
    letter-spacing: 0.7px;
    color: #ffffff; }
  .header__title-central-1, .header__title-central-2 {
    text-align: center;
    font-family: "Montserrat Bold";
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff; }
  .header__title-central-1--modified {
    padding-top: 33px; }
  .header__title-central-2--modified {
    padding-top: 5px; }
  .header__title-bottom {
    padding-top: 13px;
    line-height: 1.2;
    text-align: center;
    font-family: "Roboto Light";
    font-size: 18px;
    color: #ffffff; }
    .header__title-bottom-first {
      padding-left: 0px; }
    .header__title-bottom-second {
      display: block; }
  .header__button {
    display: block;
    margin: 17px auto 0;
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-family: "Montserrat Bold";
    font-size: 14px;
    background: #ff4e50;
    color: #ffffff;
    cursor: pointer; }
  .header__button:hover {
    background: #ff7173;
    color: #ffffff;
    border: 1px solid #ff4e50;
    transition: .5s; }

/* SLIDER */
.slider {
  overflow: hidden;
  height: 815px;
  margin: 0 auto; }
  .slider__header {
    margin-top: 35px;
    margin-left: 4px;
    margin-bottom: 18px;
    text-align: center;
    font-family: "Montserrat Bold";
    font-size: 22px;
    color: #333333; }
  .slider__box {
    display: block;
    margin-top: 16px;
    text-align: center; }
  .slider__box-position {
    position: relative;
    margin: 0 auto;
    width: 300px; }
  .slider__box-context {
    position: absolute;
    z-index: 10;
    top: 69px;
    left: 24px; }
  .slider__box-context2 {
    position: absolute;
    z-index: 10;
    top: 99px;
    left: 24px; }
  .slider__box-context-button {
    display: block;
    margin-bottom: 20px;
    width: 70px;
    height: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    font-family: "Montserrat Regular";
    font-size: 10px;
    background: #ff4e50;
    color: #ffffff;
    cursor: pointer; }
  .slider__box-context-button:hover {
    background: #ff7173;
    color: #ffffff;
    border: 1px solid #ff4e50;
    transition: .5s; }
  .slider__box-context-header-first, .slider__box-context-header-second {
    text-align: left;
    font-family: "Montserrat Bold";
    font-size: 24px;
    color: #ffffff; }
  .slider__box-context-header-first {
    margin-top: -2px; }
  .slider__box-context-header-second {
    margin-top: 4px; }
  .slider__box-context-text {
    margin-top: 15px;
    line-height: 1.15;
    text-align: left;
    width: 260px;
    height: 45px;
    font-family: "Roboto Light";
    font-size: 14px;
    color: #cccccc; }
  .slider__image {
    display: block;
    border-radius: 5px;
    margin: 10px auto; }
  .slider__image:first-child {
    margin-top: 0; }

.jcarousel1,
.jcarousel2,
.jcarousel3 {
  display: none; }

/* PARTNERS */
.partners__header {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 20px; }
.partners__header-first, .partners__header-second {
  font-family: "Montserrat Bold";
  font-size: 22px;
  color: #333333; }
.partners__header-second {
  display: block;
  margin-top: 3px; }
.partners__image-box {
  display: block;
  margin-bottom: 30px;
  text-align: center; }
.partners__image-box-name {
  margin-top: 16px;
  margin-left: 3px;
  font-family: "Montserrat Regular";
  font-size: 14px;
  color: #333333; }
.partners__image-box-description {
  margin: 15px auto 0;
  width: 200px;
  font-family: "Roboto Light";
  font-size: 14px;
  line-height: 1.2;
  color: #666666; }
.partners__image-box-avatar-position {
  position: relative;
  margin: 0 auto;
  width: 121px; }
.partners__image-box-avatar {
  margin-top: -2px;
  margin-left: 4px; }
.partners__image-box-sign {
  position: absolute;
  top: 82px;
  right: -7px; }
.partners__button-position {
  width: 300px;
  margin: 0 auto; }
.partners__button {
  display: block;
  margin: -7px auto 0;
  text-align: center;
  height: 39px;
  width: 280px;
  font-family: "Montserrat Bold";
  font-size: 14px;
  color: #ff4e50;
  background: #ffffff;
  border-radius: 20px;
  border: 2px solid #ff4e50;
  cursor: pointer; }
.partners__button:hover {
  color: #ffffff;
  background: #ff4e50;
  transition: .5s; }

/* DISCOVER */
.discover {
  margin-top: 38px; }
  .discover__header {
    margin-bottom: 18px; }
  .discover__header-first-part, .discover__header-second-part {
    text-align: center;
    display: block;
    /*margin: 0 auto;*/
    font-family: "Montserrat Bold";
    font-size: 22px;
    color: #333333; }
  .discover__header-second-part {
    display: block;
    margin-top: 2px;
    margin-left: 2px; }
  .discover__boxes {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 28px; }
  .discover__box {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 93%;
    height: 120px;
    margin-bottom: 10px;
    color: #ffffff; }
  .discover__box-text {
    top: 41%;
    text-align: center;
    width: 100%;
    position: absolute;
    font-family: "Montserrat Bold";
    font-size: 22px; }

#discover__box-text3 {
  top: 34px;
  left: 2%;
  line-height: 1.1; }

/*#discover__header2 {
	margin-top: -16px;
}*/
.discover__box:nth-child(1) {
  background: url("../img/ideas_image_default_1.jpg") top center no-repeat;
  background-size: cover; }

.discover__box:nth-child(2) {
  background: url("../img/ideas_image_default_2.jpg") top center no-repeat;
  background-size: cover; }

.discover__box:nth-child(3) {
  background: url("../img/ideas_image_default_3.jpg") top center no-repeat;
  background-size: cover; }

.discover__box:nth-child(4) {
  background: url("../img/ideas_image_default_4.jpg") top center no-repeat;
  background-size: cover; }

.discover__box:nth-child(5) {
  background: url("../img/ideas_image_default_5.jpg") top center no-repeat;
  background-size: cover; }

.discover__box:nth-child(6) {
  background: url("../img/ideas_image_default_6.jpg") top center no-repeat;
  background-size: cover; }

.discover__box:nth-child(7) {
  background: url("../img/ideas_image_default_7.jpg") top center no-repeat;
  background-size: cover; }

/* OUT RESULT OF IMAGE SEARCH*/
.out-results {
  /*max-width: 320px;*/
  max-width: 100%;
  margin: 0 auto; }
  .out-results__wrapper {
    overflow: hidden;
    width: 100%;
    padding-bottom: 28px; }
  .out-results__box0, .out-results__box1, .out-results__box2, .out-results__box3, .out-results__box4, .out-results__box5, .out-results__box6 {
    overflow: hidden;
    margin: 0 auto;
    width: 93%;
    height: 120px;
    padding-bottom: 20px; }
  .out-results__image0, .out-results__image1, .out-results__image2, .out-results__image3, .out-results__image4, .out-results__image5, .out-results__image6 {
    width: 100%;
    height: 120px; }

/* SEARCH FORM FOR IMAGES */
.search-form {
  display: block;
  width: auto;
  margin: 0 auto; }
  .search-form__header {
    text-align: center;
    padding-bottom: 20px;
    font-family: "Roboto Light";
    font-size: 18px;
    color: #333333; }
  .search-form__input {
    display: block;
    margin: -2px auto 0;
    padding-left: 2px;
    width: 278px;
    height: 38px;
    border: 1px solid #cccccc;
    border-radius: 3px; }
  .search-form__submit {
    display: block;
    margin: 10px auto 0;
    text-align: center;
    height: 39px;
    width: 280px;
    font-family: "Montserrat Bold";
    font-size: 14px;
    color: #ffffff;
    background: #ff4e50;
    border-radius: 20px;
    border: 2px solid #ff4e50;
    cursor: pointer; }
  .search-form__submit:hover {
    color: #ffffff;
    background: #ff7173;
    transition: .5s; }

input[placeholder] {
  padding-left: 15px;
  color: #999999;
  font-family: "Roboto Light";
  font-size: 14px; }

input:-moz-placeholder {
  padding-left: 15px;
  color: #999999;
  font-family: "Roboto Light";
  font-size: 14px; }

input:-moz-placeholder {
  padding-left: 15px;
  color: #999999;
  font-family: "Roboto Light";
  font-size: 14px; }

input:-ms-input-placeholder {
  padding-left: 15px;
  color: #999999;
  font-family: "Roboto Light";
  font-size: 14px; }

input[placeholder]:focus {
  border: 1px solid #ff4e50; }

/* FOOTER */
.footer {
  margin-top: 40px;
  border-top: 4px solid #ff4e50; }
  .footer__wrapper {
    max-width: 940px;
    margin: 0 auto;
    overflow: hidden; }
  .footer__header {
    display: block;
    width: 136px;
    margin: 17px auto;
    font-family: "Montserrat Bold";
    font-size: 16px;
    color: #ff4e50; }
  .footer__company {
    text-align: center; }
  .footer__company-link, .footer__partners-link {
    font-family: "Montserrat Bold";
    font-size: 14px;
    color: #333333;
    text-decoration: none; }
  .footer__company-link:hover, .footer__partners-link:hover {
    text-decoration: underline; }
  .footer__company-menu {
    width: 200px;
    overflow: hidden;
    margin: 4px auto 0; }
  .footer__company-menu-item {
    float: left;
    padding-right: 15px;
    list-style: none; }
  .footer__company-menu-item:last-child {
    padding-right: 0; }
  .footer__company-menu-link {
    font-family: "Roboto Light";
    font-size: 14px;
    text-decoration: none;
    color: #666666; }
  .footer__company-menu-link:hover {
    text-decoration: underline;
    color: #333333; }
  .footer__partners {
    margin-top: 17px;
    text-align: center; }
  .footer__designed {
    margin-top: 14px;
    text-align: center; }
  .footer__designed-link {
    font-family: "Montserrat Bold";
    font-size: 10px;
    color: #cccccc;
    text-decoration: none; }
  .footer__designed-image {
    margin-top: 10px;
    margin-bottom: 20px; }

/* MEDIA QUAERIES MAX-WIDTH 768PX */
@media screen and (min-width: 768px) {
  .header {
    /*max-width: 940px;*/
    height: 700px;
    text-align: left; }
    .header__wrapper {
      max-width: 940px;
      margin: 0 auto;
      overflow: hidden; }
    .header__links-pos {
      display: block;
      padding-top: 18px;
      padding-right: 6.5%;
      float: right;
      text-align: right; }
    .header__link-log-in {
      padding-left: 0px; }
    .header__title-top {
      padding-top: 49px;
      padding-left: 6.5%;
      text-align: left;
      float: left; }
    .header__title-central-1 {
      padding-top: 0px;
      font-size: 52px; }
    .header__title-central-1--modified {
      padding-top: 222px;
      margin-left: -5px; }
    .header__title-central-2 {
      font-size: 52px; }
    .header__title-central-2--modified {
      padding-top: 10px;
      margin-left: -5px; }
    .header__title-bottom {
      margin-left: -6px;
      padding-top: 28px;
      line-height: 1.2;
      text-align: center;
      font-family: "Roboto Light";
      font-size: 24px;
      color: #ffffff; }
      .header__title-bottom-first {
        padding-left: 0px; }
      .header__title-bottom-second {
        display: inline-block;
        padding-left: 3px; }
    .header__button {
      margin: 34px auto 0;
      width: 226px; }

  /* SLIDER */
  .slider {
    height: 555px; }
    .slider__header {
      margin-top: 96px;
      margin-left: 5px; }
    .slider__box {
      display: none; }
    .slider__box-context {
      top: 211px; }
    .slider__box-context2 {
      position: absolute;
      z-index: 10;
      top: 258px;
      left: 21px; }
      .slider__box-context2 .slider__box-context-text {
        margin-top: 13px;
        margin-left: -2px; }
    .slider__box-context-header-first, .slider__box-context-header-second {
      text-align: left;
      font-family: "Montserrat Bold";
      font-size: 24px;
      color: #ffffff; }
    .slider__box-context-header-first {
      margin-top: -2px;
      margin-left: -2px; }
    .slider__box-context-header-second {
      margin-top: 4px;
      margin-left: -2px; }
    .slider__box-context-text {
      margin-left: -4px;
      text-align: left;
      width: 200px; }

  .jcarousel-wrapper-position {
    margin-top: 37px;
    text-align: center;
    overflow: hidden; }

  .jcarousel-wrapper {
    display: inline-block;
    width: 235px;
    overflow: hidden;
    text-align: center;
    position: relative; }

  #jcarousel1 {
    margin-right: 20px; }

  .jcarousel-wrapper:last-child {
    margin-left: 20px; }

  .jcarousel1,
  .jcarousel2,
  .jcarousel3 {
    display: block;
    overflow: hidden;
    width: 300px; }

  .jcarousel1 ul,
  .jcarousel2 ul,
  .jcarousel3 ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0; }

  .jcarousel1 li,
  .jcarousel2 li,
  .jcarousel3 li {
    float: left;
    width: 300px;
    margin-left: -30px; }

  .jcarousel1 li img,
  .jcarousel2 li img,
  .jcarousel3 li img {
    width: 100%;
    height: 400px; }

  .jcarousel-prev1,
  .jcarousel-prev2,
  .jcarousel-prev3 {
    position: absolute;
    top: 40px;
    left: 23px;
    background: url(../img/arrows_sprite.png) 0 0 no-repeat;
    width: 30px;
    height: 55px;
    display: inline-block;
    cursor: pointer; }

  .jcarousel-next1,
  .jcarousel-next2,
  .jcarousel-next3 {
    position: absolute;
    top: 40px;
    right: 9px;
    background: url(../img/arrows_sprite.png) -30px 0px no-repeat;
    width: 40px;
    height: 55px;
    display: inline-block;
    cursor: pointer; }

  #carousel-prev2 {
    left: 10px; }

  #carousel-next2 {
    right: 2px; }

  #carousel-prev3 {
    left: 18px; }

  #carousel-next3 {
    right: 14px; }

  /* PARTNERS */
  .partners {
    text-align: center; }
    .partners__header {
      margin-top: 94px; }
    .partners__header-second {
      display: inline-block; }
    .partners__boxes-position {
      display: block;
      width: 470px;
      margin: 37px auto 0; }
    .partners__first-box, .partners__second-box {
      display: block;
      float: left; }
    .partners__second-box {
      margin-left: 60px; }
    .partners__image-box:nth-child(1) {
      margin-bottom: 60px; }
    .partners__button {
      margin: 0;
      margin-top: 567px;
      margin-left: 53px;
      width: 194px; }

  /* DISCOVER */
  .discover {
    margin-top: 100px; }
    .discover__header {
      margin-bottom: 18px;
      text-align: center; }
    .discover__header-first-part, .discover__header-second-part {
      display: inline-block; }
    .discover__header-second-part {
      display: inline-block;
      margin-top: 0px;
      margin-left: 0px; }
    .discover__box-text {
      top: 48%; }
    .discover__boxes {
      max-width: 768px;
      margin: 32px auto 48px; }
    .discover__box {
      height: 310px;
      margin-bottom: 20px; }

  #discover__box-text3 {
    top: 144px; }

  .discover__box:nth-child(1),
  .discover__box:nth-child(2),
  .discover__box:nth-child(3) {
    display: inline-block;
    width: 30.5%;
    height: 310px; }

  .discover__box:nth-child(1) {
    margin-left: 10px; }

  .discover__box:nth-child(2),
  .discover__box:nth-child(3) {
    margin-left: 17px; }

  .discover__box:nth-child(4) {
    display: block;
    float: left;
    margin-left: 10px;
    width: 30%;
    height: 310px; }

  .discover__box:nth-child(5) {
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: 64%;
    height: 310px; }

  .discover__box:nth-child(6) {
    display: block;
    float: left;
    margin-left: 10px;
    width: 64%;
    height: 310px; }

  .discover__box:nth-child(7) {
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: 30%;
    height: 310px; }

  /* OUT RESULT OF IMAGE SEARCH*/
  .out-results {
    max-width: 768px;
    margin: 0 auto; }
    .out-results__wrapper {
      padding-bottom: 0px;
      margin-top: 34px;
      margin-bottom: 95px; }
    .out-results__box0, .out-results__box1, .out-results__box2 {
      display: inline-block;
      width: 31%;
      height: 310px;
      padding-bottom: 20px; }
    .out-results__box0 {
      margin-left: 10px; }
    .out-results__box1, .out-results__box2 {
      margin-left: 20px; }
    .out-results__box3 {
      display: block;
      float: left;
      margin-left: 10px;
      width: 31%;
      height: 310px; }
    .out-results__box4 {
      display: inline-block;
      float: left;
      margin-left: 20px;
      width: 64%;
      height: 310px; }
    .out-results__box5 {
      display: block;
      float: left;
      margin-left: 10px;
      width: 64%;
      height: 310px; }
    .out-results__box6 {
      display: inline-block;
      float: left;
      margin-left: 20px;
      width: 31%;
      height: 310px; }
    .out-results__image0, .out-results__image1, .out-results__image2, .out-results__image3, .out-results__image4, .out-results__image5, .out-results__image6 {
      width: 100%;
      height: 310px; }

  /* SEARCH FORM FOR IMAGES */
  .search-form {
    width: auto;
    overflow: hidden;
    text-align: center; }
    .search-form__header {
      margin-top: 17px;
      padding-bottom: 40px; }
    .search-form__input {
      display: inline-block;
      margin: -2px auto 0;
      padding-left: 2px;
      width: 240px;
      height: 38px;
      border: 1px solid #cccccc;
      border-radius: 3px; }
    .search-form__submit {
      width: 160px;
      height: 38px;
      margin: 0;
      margin-left: 10px; }
    .search-form__input-box, .search-form__submit {
      display: inline-block; }

  /* FOOTER */
  .footer {
    margin-top: 102px;
    margin-bottom: 45px; }
    .footer__wrapper {
      max-width: 940px;
      margin: 0 auto;
      overflow: hidden; }
    .footer__header {
      float: left;
      width: 136px;
      margin: 0;
      margin-top: 38px;
      margin-left: 42px; }
    .footer__company {
      float: left;
      text-align: left;
      margin-top: 40px;
      margin-left: 11.5%; }
    .footer__company-menu {
      margin: 0;
      margin-top: 11px;
      margin-bottom: 45px; }
    .footer__company-menu-item {
      float: none;
      padding-top: 9px; }
    .footer__company-menu-item:first-child {
      padding-top: 0; }
    .footer__company-menu-link {
      font-family: "Roboto Light";
      font-size: 14px;
      text-decoration: none;
      color: #666666; }
    .footer__partners {
      float: left;
      margin-top: 38px;
      margin-left: -3.5%;
      text-align: left; }
    .footer__designed {
      float: left;
      margin-top: 38px;
      margin-left: 15.5%;
      text-align: left; }
    .footer__designed-text {
      letter-spacing: 1.1px;
      margin-left: 30px; }
    .footer__designed-image {
      margin-top: 10px;
      margin-bottom: 20px; } }
/* MEDIA QUAERIES MAX-WIDTH 940PX */
@media screen and (min-width: 940px) {
  .header {
    max-width: 100%;
    height: 702px; }
    .header__wrapper {
      max-width: 940px;
      margin: 0 auto;
      overflow: hidden; }
    .header__links-pos {
      padding-right: 0; }
    .header__title-top {
      padding-left: 0; }
    .header__title-bottom {
      margin-left: -3px; }
      .header__title-bottom-first {
        padding-left: 0px; }
      .header__title-bottom-second {
        display: inline-block;
        padding-left: 0;
        margin-left: 3px; }

  .slider {
    overflow: hidden;
    width: 940px;
    height: 560px;
    margin: 0 auto; }
    .slider__box-context {
      top: 226px;
      left: 22px; }
    .slider__header {
      margin-top: 97px;
      margin-left: -10px; }

  .jcarousel-wrapper {
    width: 300px; }

  .jcarousel1 li,
  .jcarousel2 li,
  .jcarousel3 li {
    margin-left: 0px; }

  #jcarousel1 {
    margin-right: 15px; }

  .jcarousel-wrapper:last-child {
    margin-left: 15px; }

  .jcarousel-prev1,
  .jcarousel-prev2,
  .jcarousel-prev3 {
    top: 151px;
    left: 20px; }

  .jcarousel-next1,
  .jcarousel-next2,
  .jcarousel-next3 {
    top: 151px;
    right: 15px; }

  #carousel-prev2 {
    left: 19px; }

  #carousel-next2 {
    right: 13px; }

  #carousel-prev3 {
    left: 20px; }

  #carousel-next3 {
    right: 14px; }

  /* PARTNERS */
  .partners {
    text-align: center; }
    .partners__header {
      margin-top: 88px; }
    .partners__header-second {
      display: inline-block; }
    .partners__boxes-position {
      display: block;
      width: 940px; }
    .partners__first-box, .partners__second-box {
      display: block;
      float: none; }
    .partners__second-box {
      margin-left: 0px; }
    .partners__image-box:nth-child(1) {
      margin-bottom: 0px; }
    .partners__image-box {
      display: block;
      float: left;
      margin-bottom: 30px;
      text-align: center; }
    .partners__button {
      margin-top: 308px; }

  #partners__image-box-2,
  #partners__image-box-3,
  #partners__image-box-4 {
    margin-left: 42px; }

  /* DISCOVER */
  .discover {
    margin-top: 100px; }
    .discover__header {
      margin-top: 0px;
      margin-left: -5px;
      margin-bottom: 34px;
      text-align: center; }
    .discover__header-first-part, .discover__header-second-part {
      display: inline-block; }
    .discover__header-second-part {
      display: inline-block;
      margin-top: 0px;
      margin-left: 0px; }
    .discover__boxes {
      max-width: 940px;
      margin: 0 auto 47px; }
    .discover__box {
      height: 310px;
      margin-bottom: 20px; }

  .discover__box:nth-child(1),
  .discover__box:nth-child(2),
  .discover__box:nth-child(3) {
    width: 31%; }

  .discover__box:nth-child(4) {
    margin-left: 10px;
    width: 31%; }

  .discover__box:nth-child(5) {
    width: 65%; }

  .discover__box:nth-child(6) {
    width: 65%; }

  .discover__box:nth-child(7) {
    width: 31%; }

  /* OUT RESULT OF IMAGE SEARCH*/
  .out-results {
    max-width: 940px;
    margin: 0 auto; }
    .out-results__box0, .out-results__box1, .out-results__box2 {
      display: inline-block;
      width: 31.5%;
      height: 310px;
      padding-bottom: 20px; }
    .out-results__box0 {
      margin-left: 10px; }
    .out-results__box1, .out-results__box2 {
      margin-left: 20px; }
    .out-results__box3 {
      display: block;
      float: left;
      margin-left: 10px;
      width: 31.5%;
      height: 310px; }
    .out-results__box4 {
      display: inline-block;
      float: left;
      margin-left: 20px;
      width: 64.5%;
      height: 310px; }
    .out-results__box5 {
      display: block;
      float: left;
      margin-left: 10px;
      width: 64.5%;
      height: 310px; }
    .out-results__box6 {
      display: inline-block;
      float: left;
      margin-left: 20px;
      width: 31.5%;
      height: 310px; }
    .out-results__image0, .out-results__image1, .out-results__image2, .out-results__image3, .out-results__image4, .out-results__image5, .out-results__image6 {
      width: 100%;
      height: 310px; }

  /* SEARCH FORM FOR IMAGES */
  .search-form__header {
    margin-top: 2px; }

  /* FOOTER */
  .footer {
    margin-top: 100px;
    margin-bottom: 45px; }
    .footer__wrapper {
      max-width: 940px;
      margin: 0 auto;
      overflow: hidden; }
    .footer__header {
      margin-left: 0px; }
    .footer__company {
      margin-left: 11%; }
    .footer__partners {
      margin-left: -4.5%; }
    .footer__designed {
      float: right;
      margin-top: 34px; } }

/*# sourceMappingURL=style.css.map */
